1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line

In [11]:
streetname = 'Clementi Green'
cityname = 'London'
countryname = 'England'

address = streetname +", "+ cityname + ", "+ countryname

print("Full address using + operater is here: ",address)
print(f"Full address using f string is here : {streetname}, {cityname},{countryname}")

print(f"Full address in the new line : \n{streetname},\n{cityname},\n{countryname}.")

Full address using + operater is here:  Clementi Green, London, England
Full address using f string is here : Clementi Green, London,England
Full address in the new line :
Clementi Green,
London,
England.

2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index

In [24]:
string1 = 'Earth revolves around the sun'

print(string1[6:14])
print(string1[-3:] )

revolves
sun

3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [26]:
fruits = '2'
vegetables = '4'

print(f"I eat {vegetables} veggies and {fruits} fruits daily" )

I eat 4 veggies and 2 fruits daily

4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [33]:
s='maine 200 banana khaye'
snew = s.replace('200','10').replace('banana','samosa')
snew

'maine 10 samosa khaye'

In [35]:
s='maine 200 banana khaye'
snew1 = s.replace('200','10')
snew1 = snew1.replace('banana','samosa')
print(snew1)

maine 10 samosa khaye